.container{
  max-width: 600px;
}
.btn{
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:hover,.btn.clicked{
  background: crimson;
  color: white;
}

.btn:focus{
  outline: none !important;
}
.chat-list{
  border-top: 1px solid #cccccc;
  max-height: 80vh;
  overflow: auto;
}
.username {
  font-weight: bold;
  color: crimson;
}
.time {
  font-size: 0.7em;
  color: #999999;
}
.update-msg {
  text-align: center;
  margin: 20px auto;
  color: #000;
}
.new-name {
  color: crimson;
  font-weight: bold;
  font-size: 1.2em;
}
